/*
This is an example file
for Terraform variables
needed to establish the
infrastructure and run
the app using dockerhub.
Replace "PLACEHOLDER"
with Your variables
*/


variable "dockerhub_username" {
  description = "PLACEHOLDER"
  type        = string
}

variable "dockerhub_password" {
  description = "PLACEHOLDER"
  type        = string
  sensitive   = true
}

variable "azure_subscription_id" {
  description = "Azure Subscription ID"
  type        = string
}

variable "azure_client_id" {
  description = "Azure Client ID"
  type        = string
}

variable "azure_client_secret" {
  description = "Azure Client Secret"
  type        = string
  sensitive   = true
}

variable "azure_tenant_id" {
  description = "Azure Tenant ID"
  type        = string
}