@page "/service"
@using Microsoft.Extensions.Options;
@using bike_rental.frontend.test.Models
@using bike_rental.frontend.test.Services;

@inject HttpClient http
@inject IOptions<ApiSettings> _apiOptions;

<PageTitle>Bicycles service room</PageTitle>

<h1>Bicycles waiting for service</h1>

@if (bicycles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Model</th>
                <th>Serial number</th>
                <th>Frame size id</th>
                <th>Service day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bicycle in bicycles)
            {
                <tr>
                    <td>@bicycle.ModelName</td>
                    <td>@bicycle.SerialNumber</td>
                    <td>@bicycle.FrameSizeId</td>
                    <td>@bicycle.StartService</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Bicycle> bicycles;

    protected override async Task OnInitializedAsync()
    {
        bicycles = await http.GetFromJsonAsync<List<Bicycle>>(_apiOptions.Value.Url + "api/service");
    }
}
